* {
  margin: 0;
  padding: 0;
}
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
}
body.yellow {
    background: #FFC;
}
body.blue {
    background: #dbe8fc;
}
body.red {
    background: #edddda;
}
.yellow h1 {
    background-color: #FFC;
}
.blue h1 {
    background-color: #dbe8fc;
}
.red h1 {
    background-color: #edddda;
}
h1 {
    position: fixed;
    top: 4px;
    width: 100%;
    z-index: 99999;
    padding: 5px 5px 7px 10px;
    margin: 0;
}
.yellow h1.scrolled, .yellow div.scrolled {
    background: #FFA !important;
}
.blue h1.scrolled, .blue div.scrolled {
    background: #2d5493 !important;
    color: #FFF;
}
.red h1.scrolled, .red div.scrolled {
    background: #7c3627;
    color: #FFF;
}
.white h1.scrolled, .white div.scrolled {
    background: #EEE;
    color: #000;
}
h1.scrolled, div.scrolled {
    /*background: #FFA !important;*/
    position: fixed;
    top: 0px;
}
h1.scrolled {
    padding: 9px;
}
table.eplFantasyTable {
    border-collapse: collapse;
    border: 1px solid #777;
    font-size: 1.1em;
    width: 98%;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
.yellow table.eplFantasyTable thead tr th {
    background: #BAF;
}
.blue table.eplFantasyTable thead tr th {
    background: #BAF;
}
.red table.eplFantasyTable thead tr th {
    background: #BAF;
}
.white table.eplFantasyTable thead tr th {
    background: #BAF;
}
table.eplFantasyTable thead tr th {
    /*background: #BAF;*/
    color: #444;
    cursor: help;
}
table.eplFantasyTable tbody tr td, table.eplFantasyTable thead tr th {
    border: 1px solid #777;
    padding: 4px;
    font-weight: 700;
}
.yellow div.filters {
    background-color: #FFC; 
}
/*.blue div.filters {
    background-color: #FFC; 
}*/
div.filters {
    float: left;
    width: 100%;
    border-bottom: 3px solid #A00;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 39px;
    width: 100%;
    z-index: 99999;
}
div.filters .filtersContainer:nth-child(1) {
    margin-left: 10px;
}
div.filters .filtersContainer {
    float: left;
    margin-right: 10px;
}
.yellow div.filters .filtersContainer a {
    color:#333;
    background-color: #ffffff;
}
.blue div.filters .filtersContainer a {
    color:#333;
    background-color: #FFC;
}
.red div.filters .filtersContainer a {
    color:#333;
    background-color: #FFC;
}
.white div.filters .filtersContainer a {
    color:#333;
    background-color: #FFC;
    border: 1px solid #AAA;
}
div.filters .filtersContainer a {
    text-decoration: none;
    /*padding: 4px;
    border: 1px solid #EEE;*/
    font-size: 1.1em;
    -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:none;
    /*font-size:16px;*/
    font-weight:700;
    padding:4px 16px;
    text-shadow:#FE6 0 1px 0
}
div.filters .filtersContainer a.active {
    color: #333;
    background-color:#EF3;
}
.loadingMessage {
    background: url(2.gif) left top no-repeat;
    height: 64px;
    /*width: 64px;*/
    padding-left: 76px;
    padding-top: 16px;
    margin: 25%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    font-size: 24px;
    /*display: none;*/
}
div.container {
    margin-top: 90px;
}
#jetsSearch {
    padding: 4px;
    margin-top: -5px;
}
.header {
    position: fixed;
    top: 10px;
    right: 4px;
    z-index: 99999;
    margin: 0;
}
#switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#switcher li {
  float: left;
  width: 25px;
  height: 25px;
  margin: 0 15px 15px 0;
  border-radius: 30px;
  border: 1px solid #999;
  cursor: pointer;
}

#white {
  background: white;
}
#red {
  background: red;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}